$font: "Roboto", sans-serif !important;
$rfont: "Raleway", sans-serif;
$font-weight-standard: 400;
$font-weight-bold: 500;

$color-blue: #1c39a0;
$color-blue-inverse: #2b4dcf;
$color-header: #1577c1;
$color-white: #fff;
$color-black: #000;
$color-orange: #ffa834;
$color-dark-blue: #354052;
$color-turqoise: #4fadb5;
$color-red: #f86c6b;

$color-error: #e23645;

$color-footer-gray: #f8f9fb;
$color-light-gray: #e6e6e6;
$color-placeholder: #d1d1d1;
$color-medium-gray: #ccc;
$color-text-light: #9c9c9c;
$color-gray: #808080;
$color-text: #6c6c6c;
$color-dark-gray: #666;
$color-text-dark: #2c2c2c;
