@import "src/common.scss";
// p-calendar
.ui-datepicker-group {
  font-weight: 400;
}

.ui-datepicker table {
  font-size: 14.5px !important;
  margin: 0.5em 0 0 0 !important;
}

.ui-datepicker .ui-datepicker-header {
  font-size: 16px !important;
  .ui-datepicker-title select {
    border: none !important;
  }
}

.ui-datepicker table td {
  padding: 0em !important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
  background: $color-light-gray !important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
  background: $color-blue !important;
  color: $color-white !important;
}
